.tableContainer{
	width: 70%;
    margin-left: 15%;
}

.btn-availability{
	width: 15%;
    position: absolute;
    right: 17%;
}

.available{
	background-color: blue;
}

.unavailable{
	 background-color: red;
}