.scheduleComponentContainer{
	width: 60%;
    margin: auto;
}

.btn-availability{
	float: right;
	margin-bottom: 2rem;
}

@media only screen and (max-width: 900px) {
	.scheduleComponentContainer{
	width: 40%;
	}
	.btn-availability{
	float:none
	}
}



